.footer{
    background-color: black;
    width: 100%;
    height: 200px;
    color: white;
    display: flex;
}

.footer>.div1{
    border: 1px solid white;
    height: 100%;
    width: 300px;
}

.footer>.div2{
    border: 1px solid white;
    height: 100%;
    width: 300px;
    flex-grow: 5;
}

.footer>.div3{
    border: 1px solid white;
    height: 100%;
    width: 300px;
}

ul li {
    list-style: none;
}


nav{
    display: flex;
    justify-content: space-around;
    background-image: url('../assets/new.jpg');
    height: 68vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-size: 20px;
    flex-wrap: wrap;
}

.nav>ul{
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.nav>ul>li{
    list-style: none;
}

.nav>ul>li:hover{
    color: #fff;
    text-shadow:
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff;
      -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.logo{
    margin-top: 15px;
}

.nav>ul>li:nth-child(5)>button{
    background-color: transparent;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.nav>ul>li:nth-child(5)>button:hover{
    background-color: white;
    color: green;
}

.break{
    flex-basis: 100%;
    height: 0;
}

.heading>h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.heading>button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    width: 350px;
}

.heading>button:hover{
    background-color: white;
    color: green;
}

/* Header Css */

.gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.div1{
    height: 500px;
    width: 300px;
    border:1px solid green
}