<div class="container">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Price</label>
        <input type="number" class="form-control">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Quantity</label>
        <input type="number" class="form-control">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"><Select></Select></label>
        <input type="number" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>