.container{
    border: 1px solid black;
    background-image: linear-gradient(to top right, rgb(0, 0, 0), rgb(13, 22, 77));
    margin-top: 5vh;
    height: 98vh;
    width: 100%;
  }
  .txt>h3{
   font-size: 23px;
   font-style: italic;
   font-weight: bold;
   color: white;
   text-align: center;
   margin-top: 39vh;
  }
  .txt{
  height: 100%;
   
  
  }
  .txt>h4{
   font-size: 13px;
   font-style: italic;
   font-weight: bold;
   color: white;
   /* margin-top: 5px; */
   
  
  }
  .wrapper{
    padding-left: 20px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(240, 240, 240);
    height: 95vh;
    width: 100%;
    padding-left: 31px;
    /* margin-left: 355px; */
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 24px;
    border-bottom-left-radius: 183px;
    border-top-left-radius: 87px;
    border-top-right-radius: 151px;
    
  }
  .input{
    width: 85%;
    border-radius: 0%; 
  }
  .input:focus{
    box-shadow: none; 
    border: 1px solid black;
  }
  .selectColor{
    width: 85%;
    border-radius: 0%; 
  }
  .selectColor:focus{
  box-shadow: none;
  border: 1px solid black;
  }
  textarea{
    width: 92.5%;
  }
  textarea:focus-visible {
    box-shadow: none;
    border: 1px solid black;
  }
  .tag{
    font-size: 14px;
   font-weight: bold;
   margin-left: 5px;
  }
  
  .selectSize>input{
    display: none;
  }
  .selectSize>label{
    display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 50px;
  cursor: pointer;
  margin-right: 5px;
  }
  /* .form-check-input{
    
  } */
  .form-check-input:checked{
    background-color: rgb(0, 34, 255);
    /* color: #ffff; */
    box-shadow: none;
    border-color: black;
  }
  .form-check-input:focus{
    box-shadow: none;
    border-color: rgb(0, 34, 255);
  }
  .button{
    width: 90.5%;
    margin-left: 13px;
    border-radius: 0px;
    border-color: black;
  }
  .button:hover{
   background-image: linear-gradient(to top right, rgb(0, 0, 0), rgb(13, 22, 77));
   color: #ffff;
  }
  
  #small:checked ~ label[for="small"],
  #medium:checked ~ label[for="medium"],
  #large:checked ~ label[for="large"],
  #x-large:checked ~ label[for="x-large"],
  #xx-large:checked ~ label[for="xx-large"]
  {
    background: #000;
    color: white;
  }
  